@import '../../../../constants/colors.module.scss';

.container{
    margin: 0 10px ;
    min-width: 160px;
    flex:1;
    background-color: $lightGray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: $gray;
    min-height: 160px;
    transition: all 1s;

    .date{
        font-weight: 100;
        margin:10px 0;
        transition: all 0.5s;
    }

    .temp{
        font-weight: 300;
        margin:0;
        background-color: #fff;
        padding: 5px 15px;
        border-radius: 15px;
        font-size: 1.1em;

    }

    .description{
        font-weight: 400;
        margin: 10px 0 20px 0;
        font-size: 0.8em;
    }
}

.container:hover{
    transition: all 0.5s;
    background-color: $lightGreen;

    .date{
        color: #fff;
        transition: all 0.5s;
    }

}
@media (max-width: 1000px){
    .container{
        margin-top: 15px;
    }
}
@media (max-width: 350px){
    .container{
        margin: 15px 0 0 0;
    }
}