@import '../../../../constants/colors.module.scss';

.container{
    margin-top: 2vh;
    background-color: $lightGray;
    border-radius: 15px;
    padding: 10px 20px;
    width: 45%;

    .main_title{
        font-size: 1.2em;
        margin: 10px 0;
        font-weight: 300;
    }

    hr{
        margin: 0;
        border: none;
        border-top: 1px solid lightgray ;
    }
}

@media (max-width: 900px){
    .container{
        flex:1;
        width: auto;
    }
}