@import "../../../../../../constants/colors.module.scss";

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.2s;

    h2{
        font-size: 1em;
        margin: 0;
    }

    .title{
        font-weight: 400;
    }

    .info{
        font-weight: 300;
    }
}



@media(max-width: 630px){
    
}